body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie {
  margin: 10px;
  padding: 10px;
}

#movie-detail {
  display: flex;
  justify-content: space-between;
}

#movie-detail > img {
  padding: 20px;
}